* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .section-background {
    background: linear-gradient(45deg, #011c26, #05c7f2);
    height: 100vh;
  }
  
  .img-fluid {
    width: 150px;
  }
  
  .fonte-77rem {
    font-size: 0.77rem;
  }
  
  .progressbar-width-34 {
    width: 34%;
  }
  
  .progressbar-width-21 {
    width: 21%;
  }
  
  .progressbar-width-20 {
    width: 20%;
  }
  
  .progressbar-width-15 {
    width: 15%;
  }
  
  .progressbar-width-10 {
    width: 10%;
  }
  
  .progressbar-width-39 {
    width: 39%;
  }
  
  .progressbar-width-22 {
    width: 22%;
  }
  
  .progressbar-width-19 {
    width: 22%;
  }
  
  .progressbar-width-12 {
    width: 12%;
  }
  
  .progressbar-width-8 {
    width: 8%;
  }
  
  .recuperar-senha {
    padding-top: 10px;
  }
  
.botao-voltar{
  text-align: center;
}

.botao-voltar a{
  color: white;
  text-decoration: none;
}

